*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-black);
  padding: 32px 32px 0 32px;

  @media (width > 550px) {
    padding: 48px 48px 0 48px;
  }
  @media (width > 1100px) {
    padding: 64px 64px 0 64px;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  isolation: isolate;
}

:root {
  --color-black: hsl(220, 9%, 13%);
  --color-white: hsl(15, 57%, 97%);
  --color-grey: hsl(0, 15%, 91%);
  --color-blue: hsl(217, 100%, 48%);
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
}
h1 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 6.5rem;
  letter-spacing: -8px;
  color: var(--color-white);

  @media (width > 550px) {
    font-size: 12rem;
  }
  @media (width > 1100px) {
    font-size: 16rem;
  }
}
h2 {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: -2px;
  color: var(--color-white);

  @media (width > 550px) {
    font-size: 3rem;
  }
}
h3 {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: -0.5px;
  color: var(--color-white);

  @media (width > 550px) {
    font-size: 2rem;
  }
}
.header-navbar {
  display: flex;
  justify-content: space-between;

  width: 100%;

  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--color-white);

  @media (width > 550px) {
    font-size: 1.5rem;
  }
  @media (width > 1100px) {
    width: 50%;
  }

  :nth-child(1) {
    text-decoration: underline var(--color-blue);
  }
}
.hero-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 50vh;
  padding-top: 50%;

  @media (width > 550px) {
    width: 80%;
  }
  @media (width > 1100px) {
    padding-top: 10%;
  }

  & h1 {
    line-height: 1;
  }
  & h3 {
    padding-top: 16px;
    width: 90%;

    @media (width > 550px) {
      width: 100%;
    }
    @media (width > 1100px) {
      width: 65%;
    }
  }
}
.contact-buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 0.75rem;

  @media (width > 550px) {
    width: 85%;
  }
  @media (width > 1100px) {
    width: 40%;
  }
  padding-top: 16px;

  & button {
    min-width: 75px;
    padding: 8px 8px;
    line-height: 100%;

    background-color: transparent;
    border: 1px solid var(--color-white);
    border-radius: 16px;

    color: var(--color-white);

    @media (width > 550px) {
      min-width: 160px;
      font-size: 1.5rem;
      border-radius: 32px;
    }
  }
}
.scroll-down-button {
  display: flex;

  position: absolute;
  top: calc(100% - 64px);
  right: 0;
  width: 64px;
  height: 64px;
  padding: 0;
  cursor: pointer;

  background-color: transparent;
  border: none;
  color: var(--color-blue);

  @media (width > 550px) {
    top: calc(100% - 128px);
    width: 128px;
    height: 128px;
  }

  & .chevron-down {
    height: 100%;
    width: 100%;
  }
}
.section-header {
  padding: 32px 0;
  & hr {
    width: 48px;
  }
  @media (width > 550px) {
    padding: 64px 0;
  }
}
.section-break {
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 5rem;

  & h3 {
    font-size: 1.25rem;
  }

  @media (width > 550px) {
    gap: 5rem;

    .content-container:nth-child(even) {
      align-items: flex-end;
    }
    & h3,
    .content-image {
      width: 60%;
    }
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.content-image {
  width: 100%;
  filter: grayscale(100%);
}
.contact-links {
  & h2 {
    @media (width > 550px) {
      font-size: 2rem;
    }
  }
  & button {
    background: transparent;
    border: none;
    display: block;
    padding: 0;
  }
}
.text-link {
  text-decoration: solid var(--color-blue) underline;
  text-underline-offset: 8px;

  padding-bottom: 2rem;
}
.scroll-up-button {
  position: relative;
  bottom: 0;
  right: -32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  font-family: var(--font-secondary);
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
  color: var(--color-white);
  white-space: nowrap;
  padding: 0;
  cursor: pointer;

  & i {
    color: var(--color-blue);
  }

  @media (width > 550px) {
    font-size: 1.5rem;
    right: -48px;
  }

  & .chevron-up {
    color: var(--color-blue);
    height: 64px;
    width: 64px;

    @media (width > 550px) {
      height: 128px;
      width: 128px;
    }
  }
}
