:root {
  --color-black: hsl(220, 9%, 13%);
  --color-white: hsl(15, 57%, 97%);
  --color-grey: hsl(0, 15%, 91%);
  --color-blue: hsl(217, 100%, 48%);
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
}

body {
  background-color: var(--color-black);
}
h1,
h2,
h3,
header,
button {
  color: var(--color-white);
}
header :nth-child(1) {
  text-decoration: underline var(--color-white);
}
button {
  border: 1px solid var(--color-white);
}
.scroll-down-button {
  color: var(--color-blue);
}
.text-link {
  text-decoration: solid var(--color-blue) underline;
}
.scroll-up-button {
  color: var(--color-white);

  & i {
    color: var(--color-blue);
  }
  & .chevron-up {
    color: var(--color-blue);
  }
}
